<a href="https://colab.research.google.com/github/sirihg001/coviddata/blob/main/covid_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup

html = urlopen("https://bit.ly/3jpMFRW")
soup = BeautifulSoup(html, "html.parser")
table = soup.findAll("table", {"class":"wikitable"})[0]
rows = table.findAll("tr")

with open("Dataset.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for i in rows:
        row = []
        for cell in i.findAll(["td", "th"]):
            row.append(cell.get_text())
        writer.writerow(row)
import pandas as pd
data = pd.read_csv("Dataset.csv")
data.head()

            Location\n      Cases\n     Deaths\n
NaN           World[a]  300,290,277  5,472,566\n
NaN  European Union[b]   60,372,499    914,051\n
NaN      United States   58,487,697    833,988\n
NaN              India   35,226,386    483,178\n
NaN             Brazil   22,328,252    619,654\n